html{
    font-family: calibri;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot {
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color:gainsboro;
}
#nav{
    background: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
    padding: 0;
    width: 980px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
#navbar{
    background: #4178b5;
    width: 980px;
    overflow: hidden;
    height: 40px;
    border-bottom: 1px solid #f0f0f0;
}
.nava{
    text-decoration: none;
    color: white;
}
.nava:hover{
    color:salmon;
}
.icon{
    margin-right: 5px;
    margin-bottom: -2px;
}
.lg{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 0px;
}
.navigator{
    padding: 6px;
    display: inline; 
    list-style-type: none;
    line-height: 40px;
}

.menu, .categori{
    display:inline;
    list-style-type: none;
}
.categori{
    float:left;
}

.menua{
    text-decoration: none;
    color: #4178b5;
    margin-left: 30px;
}
.menu .menua:hover{
    color:crimson;
}
#content{
    background: #fff;
    float: left;
    padding: 10px 0 20px 0;
    width: 615px;
    margin-left: 15px;
}
.heading{
    border-top: 1px solid #e6e6e6;
    color: #929292;
    display: block;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    line-height: 11px;
    margin: 7px 0 15px;
    text-transform: uppercase;
}
.text-heading{
    background: #fff;
    float: left;
    margin: -10px 0 0;
    padding: 0 5px 0 0;
}
.entry-box{
    background: #fff;
    margin-bottom: 15px;
    padding: 0px 10px 0px 0px;
    box-shadow: 5px 6px 11px -5px #ddd;
}
.entry-thumb{
    float: left;
    margin: 0 8px 13px 0;
    padding: 2px;
    border: 1px solid #dfdfdf;
    width: 150px;
    height: 120px;
}
.entry-box .entry-title{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
}
.entry{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    padding: 5px 0;
    color: #444444;
}
.post-info{
    display: block;
    margin: 2px 0 5px 10px;
    padding: 3px 0;
    color: #777;
    line-height: 1.6em;
    border-top: 1px dotted #e2e2e2;
    border-bottom: 1px dotted #e2e2e2;
    font-size: 11px;
    overflow: hidden;
}
.post-info.icon{
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    margin: 0 12px 0 0;
}
.clear{
    display: block;
}
.clear::after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.pages{
    background: #fff;
    border: 0;
    color: #777;
    padding: 0 10px;
}
.active{
    font-weight:bold;
    border-bottom: 3px solid #26b !important;
    background: #efefef;
}
.halaman{
    border-bottom: 2px solid #26b;
}
.pg{
    color:#26b;
    border: 0;
    display: inline;
    margin: 0 0 0 2px;
    padding: 7px 10px 4px 10px;
    text-decoration: none;
}
.extend{
    background: #fff;
    border: 0;
    color: #777;
    padding: 0 10px;
}
.recent-by-category{
    margin: 15px 0;
}
.recent-left{
    float: left;
    width: 300px;
}
.recent-post-title{
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}
.recent-games{
    float: left;
    width: 100%;
    min-height: 60px;
    margin: 0;
    padding: 0;
    line-height:25px;
}
ul.recent-games li{
    background: none;
    font-size: 11px;
    color: #777;
    padding: 0 0 3px 78px;
    position: relative;
    min-height: 61px;
    margin: 0 0 5px 0;
    border-bottom: 1px dotted #e2e2e2;
}
.recent-games img{
    padding: 2px;
    border: 1px solid #cecece;
    transition: all 0.15s ease-in-out 0s;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    height: 56px;
    width: 66px;
    opacity: 10;
}
.recent-games a{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    line-height: 10px;
    font-weight: bold;
}
.recent-right{
    float: right;
    width: 300px;
}
#sidebar{
    background: #fff;
    float: right;
    margin: 10px 17px 20px 0;
    width: 322px;
}
#socialbar{
    text-align: center;
    height: 35px;
    overflow: hidden;
    width: 96.3%;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
#socialbar a{
    font-family: small Georgia Serif;
    color: #fff;
    float: left;
    font-size: 17px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 33.33%;
    opacity: 0.9;
}
#socialbar a.twitter{
    background: none repeat scroll 0 0 #1b97e0;
}
#socialbar a.facebook{
    background: none repeat scroll 0 0 #416eb5;
}
#socialbar a.feed{
    background: none repeat scroll 0 0 #ff8a46;
}
.widget{
    background: #fff;
}
.widget > div{
    margin: 6px 0;
    padding: 0 5px;
}
#search{
    margin-top: 12px;
}
#search input{
    width: 66%;
    font-size: 12px;
    color: #999;
    border: 1px solid #e6e6e6;
    background: #f5f5f5;
    height: 22px;
    float: left;
    padding: 6px;
    height:35px;
}
#searchform input#search-button{
    background: #4178b5;
    cursor: pointer;
    color: #fff;
    padding: 17px 0px;
    font-size: 13px;
    border: 1px solid #555;
    width: 28%;
    float: right;
    line-height: 0px;
    height: 22px;
}
a img{
    border:0;
}
.widget-tittle{
    border-bottom: 3px solid #4178b5;
    font-size: 13px;
    font-weight: bold;
    color: #555;
    background: #fff;
    line-height: 22px;
    padding: 1px 10px 2px 10px;
    text-transform: uppercase;
}
#subs-hienzo{
    background: #3f65b7;
    background-clip: padding-box;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 5px;
    background-image: -moz-radial-gradient(cover, #437dd6, #2C64A0);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 312px;
    margin-top:300px;
}
.emailicon p{
    color: #eee;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 11px 10px 10px 7px;
    margin: 0;
    line-height: 25px;
}
#email-news-subscribe .email-box{
    padding: 5px 6px;
    font-family: "Arial","Helvetica",sans-serif;
    height: 38px;
}
#bottom{
    border-top: 1px solid #e6e6e6;
    color: #fff;
    font-size: 12px;
    padding: 6px 15px;
    background: #4178b5;
    height: 30px;
    margin-left:172px;
    margin-right:172px;
    margin-top:-10px;
}
.left{
    float: left;
}
.subscribe{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#666),color-stop(1,#333));
    -webkit-border-radius: 3px;
    border: 1px solid #333;
    color: white;
    margin-left: 2px;
    padding: 9px 10px 7px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    border-image: initial;
}
.image-recent-game{
    width:130px;
    height:87px;
}
.date-recent-game{
    margin-top:6px;
}
.gambar-contact-hienzo{
    background: #e6e6e6;
    text-align: center;
    padding: 15px 0;
    margin: 15px 0;
}
.recommended{
    margin-top:10px;
}
.date-recommended{
    margin-top:6px
}
.emailicon img{
    float:left;
    width:75px;
    height:75px;
}
.email-box form{
    width:550px;
    height:520px;
}