a{
	color:black;
	text-decoration: none;
}
.Jdl {
	background-color: black; 
	color: white; 
	line-height: 1.5em; 
	text-align: center;
}  
.btn {
	background-color: green; 
	border: none; 
	border-radius: 5px; 
	line-height: 1.5em; 
	color: white; 
}
.eh {
	word-spacing: 1em;
	text-decoration: none;
}

.lgt { 
	background-color: crimson;   
	line-height: 1.5em; 
	color: black;
	border-radius: 5px;
	border-color: black;
	text-align: center;
}
.bttn{
	background-color: crimson; 
	border: none; 
	border-radius: 5px; 
	line-height: 1.5em; 
	color: white;
}
#operasi{
	padding-left:30px;
}